'fileTypes': [
  'frog'
]
'foldingStartMarker': '\{\s*$'
'foldingStopMarker': '^\s*}'
'name': 'Frog'
'patterns': [
  {
    'include': '#block1'
  }
  {
    'include': '#block2'
  }
  {
    'include': '#method-call'
  }
  {
    'include': '#comments'
  }
  {
    'include': '#attributes'
  }
  {
    'include': '#strings'
  }
  {
    'include': '#ruby-line'
  }
  {
    'include': '#expression'
  }
]
'repository':
  'comments':
    'patterns': [
      {
          'begin': '//'
          'captures':
            '1':
              'name': 'comment.line.frog'
          'end': '$\\n?'
          'name': 'comment.line.double-slash.source.frog'
        }
    ]
  'strings':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.source.frog'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.source.frog'
        'name': 'string.quoted.double.source.frog'
      }
    ]
  'attributes':
      'match': '\\w*[-]?\\w*='
      'name': 'entity.other.attribute-name.id.frog'
  'method-call':
      'begin': '([\\w$]+)(\\()'
      'beginCaptures':
        '1':
          'name': 'storage.type.generic.source.frog'
        '2':
          'name': 'punctuation.definition.method-parameters.begin.source.frog'
      'end': '\\)'
      'endCaptures':
        '0':
          'name': 'punctuation.definition.method-parameters.end.source.frog'
      'name': 'storage.type.generic.source.frog'
      'patterns': [
        {
          'include': '#attributes'

        }
        {
          'include': '#strings'
        }
      ]
  'block1':
      'begin': '(\\{)'
      'beginCaptures':
          'name': 'punctuation.definition.method-parameters.begin.source.frog'
      'end': '\\}'
      'endCaptures':
        '0':
          'name': 'punctuation.definition.method-parameters.end.source.frog'
      'name': 'storage.type.generic.source.frog'
      'patterns': [
        {
          'include': '#comments'
        }
        {
          'include': '#attributes'
        }
        {
          'include': '#expression'
        }
        {
          'include': '#ruby-line'
        }
        {
          'include': '#strings'
        }
        {
          'include': '#block1'
        }
        {
          'include': '#block2'
        }
      ]
  'block2':
      'begin': '([\\w$]+)\\s*(\\{)'
      'beginCaptures':
        '1':
          'name': 'storage.type.generic.source.frog'
        '2':
          'name': 'punctuation.definition.method-parameters.begin.source.frog'
      'end': '\\}'
      'endCaptures':
        '0':
          'name': 'punctuation.definition.method-parameters.end.source.frog'
      'name': 'storage.type.generic.source.frog'
      'patterns': [
        {
          'include': '#comments'
        }
        {
          'include': '#attributes'
        }
        {
          'include': '#expression'
        }
        {
          'include': '#ruby-line'
        }
        {
          'include': '#strings'
        }
        {
          'include': '#block1'
        }
        {
          'include': '#block2'
        }
      ]
  'ruby-line':
      'match': '-.*$'
      'name': 'storage.modifier.source.frog'
  'expression':
      'match': '\\#\\{.*\\}'
      'name': 'storage.modifier.source.frog'

'scopeName': 'source.frog'
